brotli==1.0.9
django-ckeditor==6.5.1
django-jazzmin==2.6.0
django-phonenumber-field==7.0.2
djoser==2.1.0
drf-yasg==1.21.5
mutagen==1.46.0
pdf2image==1.16.3
phonenumbers==8.13.7
pip-chill==1.0.1
pisa==3.0.33
psycopg2==2.9.5
python-dotenv==1.0.0
weasyprint==58.1
xhtml2pdf==0.2.9
zopfli==0.2.2
